body {
  background-color: #0d1117;
  color: #e6edf3;
}

a {
  color: #4db7db;
  text-decoration: none;

  &:hover {
    text-decoration: underline;
  }
}

code {
  background-color: #388bfd;
  padding: 0 calc(1rem / 12);
  border-radius: 2px;
}
